<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.bestapp.paganino" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/euro"
        android:label="@string/app_name"
        android:theme="@style/myAppTheme" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />



        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Impostazioni"
            android:parentActivityName="it.bestapp.paganino.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.bestapp.paganino.Main"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".Charts"
            android:screenOrientation="landscape"
            android:parentActivityName="it.bestapp.paganino.Main" >
        </activity>

        <activity
            android:name=".Chart"
            android:screenOrientation="landscape"
            android:parentActivityName="it.bestapp.paganino.Main" >
        </activity>


        <receiver
            android:name=".utility.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:process=":remote"
            android:name=".utility.Notifica" >
        </receiver>

        <receiver
            android:name=".utility.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>
        <service android:name=".utility.gcm.GcmIntentService" />

    </application>
</manifest>
